@use'variaveis';



// No seu arquivo _personagens.scss ou no arquivo principal que contém o seletor
.personagens {
    // Aqui vão os estilos para a seção inteira
    background-color: variaveis.$bg-primary;
    
    // Agora, aninhe os seletores dos cards aqui dentro
    &__card {
        background-color: variaveis.$card-background;
        border-radius: variaveis.$border-radius;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        &-image {
            width: 100%;
            height: auto;
            object-fit: contain;
            margin-top: 55px;
            position: relative;
        }
    }
}